<p class="text-info">
  Please use your <strong>OSC username/password</strong> when authenticating with COMSOL Server.
</p>
<p class="text-info">
  If you see <code>Failed to connect to ...</code>, then wait a few
  seconds before trying the <strong>Connect to COMSOL Server</strong> button
  again. This warning appeared because the COMSOL Server is still starting up.
</p>
<a href="{{> rnode}}/" class="btn btn-primary" target="_blank">
  <i class="fa fa-eye"></i>
  Connect to COMSOL Server
</a>
