Please use your OSC username/password when authenticating with the COMSOL
Server.

<a href="/rnode/<%= host %>/<%= port %>/" class="btn btn-primary" target="_blank">
  <i class="fa fa-eye"></i> Connect to COMSOL Server
</a>
